<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who we are</h2>
                    <h3 class="section-subheading text-muted">Three sisters. Three talents. One vision.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    <p class="large text-muted"> We are sisters - one year apart, yet perfectly complementary in our strengths.  
                        Nelly, the organizer, mastered efficiency through her studies in Mathematics and History at the University of Mannheim and refined her skills during her teaching traineeship.  
                        Marion, the strategist, brings her expertise in finance, shaped by her studies in Psychology.  
                        And then there’s me, the tech mind, a media informatics graduate and software developer.  
                
                        We chose to invest together because we realized that combining our talents makes us stronger. Alone, this journey would take longer and be more challenging, but together, we build something greater—an investment in our future.</p>
                </div>
            </div>
        </div>
    </section>